{:db {:dbtype "postgres"
      :user "postgres"
      :port #include "/Users/zakkent/Desktop/sportsball/box/port"
      :password #pgpass "/Users/zakkent/Desktop/sportsball/box/pgpass"
      :dbname "sportsball"}
 :slack {:url #slack-config-file #req-env SPORTSBALL_SLACK_POST_URL_FILE
         :bot-token #slack-config-file #req-env SPORTSBALL_SLACK_BOT_TOKEN}
 :logging {:log-file #req-env SPORTSBALL_LOG_FILE}}
