{:storage/db {:dbtype "postgres"
              :user "postgres"
              ;; TODO change these paths to env vars
              :port #include "/Users/zakkent/Desktop/sportsball/box/port"
              :password #pgpass "/Users/zakkent/Desktop/sportsball/box/pgpass"
              :dbname "sportsball"}
 :slack/conn-info {:url #slack-config-file #req-env SPORTSBALL_SLACK_POST_URL_FILE
                   :bot-token #slack-config-file #req-env SPORTSBALL_SLACK_BOT_TOKEN
                   :channel "sports"}
 :app/logging {:log-file #req-env SPORTSBALL_LOG_FILE}
 :app/config {:db #ig/ref :storage/db
              :slack-conn-info #ig/ref :slack/conn-info}
 :app/routes {:config #ig/ref :app/config}
 :app/jetty {:jetty-conf {:port 3000 :join? false}
             :app-routes #ig/ref :app/routes}
 :app/task-scheduler {:core-threads 4}
 :app/scraper {:scheduler #ig/ref :app/task-scheduler
               :config #ig/ref :app/config
               :scrape-interval #or [#env SPORTSBALL_SCRAPE_INTERVAL_MINS 5]}}
